body {
  padding: 50px;
}

.title {
  text-align: center;
}

.borders {
}

.periodic-cell {
  display: inline-block;
  width: 5.5555556%;
}
.periodic-cell input {
  width: calc(100% - 12px);
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 15px 0 15px 10px;
  border: solid 1px;
  
}
.inside-cell {
}